<?xml version="1.0"?>
<config>
    <modules>
        <Noodle_Checkoutlogin>
            <version>0.1.0</version>
        </Noodle_Checkoutlogin>
    </modules>
    <frontend>
        <routers>
            <checkoutlogin>
                <use>standard</use>
                <args>
                    <module>Noodle_Checkoutlogin</module>
                    <frontName>checkoutlogin</frontName>
                </args>
            </checkoutlogin>
        </routers>
        <layout>
            <updates>
                <checkoutlogin>
                    <file>checkoutlogin.xml</file>
                </checkoutlogin>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <checkoutlogin>
                <class>Noodle_Checkoutlogin_Model</class>
                <resourceModel>checkoutlogin_mysql4</resourceModel>
            </checkoutlogin>
            <checkoutlogin_mysql4>
                <class>Noodle_Checkoutlogin_Model_Mysql4</class>
                <entities>
                    <checkoutlogin>
                        <table>checkoutlogin</table>
                    </checkoutlogin>
                </entities>
            </checkoutlogin_mysql4>
        </models>
        <resources>
            <checkoutlogin_setup>
                <setup>
                    <module>Noodle_Checkoutlogin</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </checkoutlogin_setup>
            <checkoutlogin_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </checkoutlogin_write>
            <checkoutlogin_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </checkoutlogin_read>
        </resources>
        <blocks>
            <checkoutlogin>
                <class>Noodle_Checkoutlogin_Block</class>
            </checkoutlogin>
        </blocks>
        <helpers>
            <checkoutlogin>
                <class>Noodle_Checkoutlogin_Helper</class>
            </checkoutlogin>
        </helpers>
    </global>
</config>