<?xml version="1.0"?>
<config>
    <modules>
        <Noodle_customorder>
            <version>0.1.0</version>
        </Noodle_customorder>
    </modules>
    <frontend>
        <routers>
            <customorder>
                <use>standard</use>
                <args>
                    <module>Noodle_customorder</module>
                    <frontName>customorder</frontName>
                </args>
            </customorder>
        </routers>
        <layout>
            <updates>
                <customorder>
                    <file>customorder.xml</file>
                </customorder>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <customorder>
                <class>Noodle_customorder_Model</class>
                <resourceModel>customorder_mysql4</resourceModel>
            </customorder>
            <customorder_mysql4>
                <class>Noodle_customorder_Model_Mysql4</class>
                <entities>
                    <customorder>
                        <table>customorder</table>
                    </customorder>
                </entities>
            </customorder_mysql4>
        </models>
        <resources>
            <customorder_setup>
                <setup>
                    <module>Noodle_customorder</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </customorder_setup>
            <customorder_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </customorder_write>
            <customorder_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </customorder_read>
        </resources>
        <blocks>
            <customorder>
                <class>Noodle_customorder_Block</class>
            </customorder>
        </blocks>
        <helpers>
            <customorder>
                <class>Noodle_customorder_Helper</class>
            </customorder>
        </helpers>
    </global>
</config>